.items-list {
  width: 650px;
  height: 120px;
  border: 1px solid #555;
  background-color: #fff;
  color: var(--primary-color);
  margin: 20px;
  padding: 20px 50px;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  font-size: 16px;
  align-items: center;
}
.item-lt,
.item-rt {
  width: 210px;
}

.btn-delete {
  height: 50px;
  margin-left: 80px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0 30px;
  border-radius: 5px;
}
